<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Siru-Liina Karlin">
        <meta name="description" content="Tilanvarausjärjestelmä: MySQL, Python, HTML">
        <meta name="keywords" content="MySQL, Python, HTML">
        <title>Tilanvarausjärjestelmä</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='tilavaraus.css') }}"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Etusivu</a>
                <a href="/varaajat">Varaajat</a>
                <a href="/tilat">Tilat</a>
                <a href="/varaukset">Varaukset</a>
            </nav>
            <h1>Tilanvarausjärjestelmä</h1>
            <p>Tervetuloa tilanvarausjärjestelmään!<br/>
                Täällä pystyt tekemään varauksia haluamiisi tiloihin,
                poistamaan varauksia, varaajia ja tiloja,
                sekä tarkastelemaan varauksien, varaajien ja tilojen listoja.
            </p>
        </header>
    </body>
</html>